.container {
  max-width: 540px;
  margin: 0 auto;
  padding: 40px 10px;
  border-radius: 20px;
  background-color: var(--bg-color-secondary);
}

@media screen and (min-width: 350px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 60px 65px;
  }
}

.logo {
  text-align: center;
  margin-bottom: 50px;
}

.logo__icon {
  width: 30px;
  height: 30px;
  vertical-align: sub;
}

@media screen and (min-width: 1280px) {
  .logo__icon {
    width: 40px;
    height: 40px;
  }
}

.logo__text {
  margin-left: 15px;
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 25px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .logo__text {
    margin-left: 20px;
    font-size: 30px;
  }
}

.form__icon {
  color: var(--text-grey-color);
}

.container__button {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container__button {
    margin-top: 10px;
  }
}

.button {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  padding: 11px 0;
  border: 1px solid transparent;

  border-radius: 20px;

  font-family: 'Circe-regular', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: background-color 250ms ease-out, color 250ms ease-out;

  cursor: pointer;
}

.button + .button {
  margin-top: 20px;
}

.button__submit {
  composes: button;
  background-color: #24cca7;
  color: #ffffff;
}

.button__submit:hover {
  background-color: #ffffff;
  color: #24cca7;
  border: 1px solid #24cca7;
}

.button__redirect {
  composes: button;
  color: #4a56e2;
  background-color: #ffffff;
  border: 1px solid #4a56e2;
}

.button__redirect:hover {
  background-color: #4a56e2;
  color: #ffffff;
}
