.form {
  position: relative;
  background: #ffffff;
  text-align: center;
  align-items: center;
  padding: 20px !important;
  width: 320px;
}
.modal {
  display: flex;
  margin-top: 70px;
  justify-content: center;
}
.button {
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  width: 300px;
  height: 50px;
}
.buttonAdd {
  color: #fff;
  background-color: var(--dg-button-color);
  margin-bottom: 20px;
}
.undo {
  width: 300px;
  height: 50px;
  border: 1px solid #4a56e2;
  color: #4a56e2;
  background-color: #ffffff;
}

.text {
  font-family: Poppins;

  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  margin-bottom: 40px;
}
.customCheckbox > input {
  width: 80px;
  height: 50px;
  z-index: -1;
  opacity: 0;
}
.changesContainer {
  position: relative;
  width: 80px;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 30px;
  margin-bottom: 40px;
}
.plusText {
  color: #e0e0e0;
  position: absolute;
  left: -100%;
  top: 25%;
}
.plusTextActive {
  position: absolute;
  left: -100%;
  top: 25%;
  color: var(--dg-button-color);
}
.minusText {
  color: #e0e0e0;
  position: absolute;
  right: -100%;
  top: 25%;
}
.minusTextActive {
  position: absolute;
  right: -100%;
  top: 25%;
  color: var(--text-pink-color);
}
.catrgoryMenu {
  width: 100%;
}

.comment {
  margin-bottom: 50px;
}
.select {
  width: 100%;
  border: none;
}
.selectList {
  margin-right: 30px;
  width: 410px;

  bottom: 0;
}
@media screen and (max-width: 767px) {
  .text {
    font-size: 25px;
  }
  .clouseButton {
    display: none;
  }
  .quantityAndDate {
    flex-direction: column;
  }
  .data,
  .inputQuantity {
    margin-bottom: 40px;
    width: 100%;
  }
  .inputQuantity,
  .comment {
    margin-bottom: 40px !important;
  }

  .quantityAndDate {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .form {
    padding: 40px !important;
    width: 540px;
    height: 670px;
    border-radius: 20px;
  }
  .modal {
    align-items: center;
  }
  .clouseButton {
    position: absolute;
    border: none;
    width: 16px;
    height: 16px;
    background-color: #fff;
    top: 20px;
    right: 20px;
    background-image: url(../../assets/icons/buttonModalTransactionClouse.svg);
  }
  .text {
    font-size: 30px;
  }
  .quantityAndDate {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .quantityAndDate {
    flex-direction: row;
  }
  .inputQuantity {
    margin-right: 20px;
    text-align: center;
  }
  .comment {
    margin-bottom: 50px !important;
  }
}

@media screen and (min-width: 1280px) {
  .form {
    margin-top: 240px;
  }
}
