@media screen and (max-width: 767px) {
  .navBar {
    text-align: center;
  }

  .list {
    max-width: 180px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  .icon {
    /* font-size: xx-large; */
    background-color: rgb(74, 86, 226);
    color: white;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 0px rgba(110, 120, 231, 0.2);
    padding: 2px;
    margin-right: 15px;
  }
}

/* .list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 40px;
} */

.link {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.activeLink {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.text {
  margin-left: 10px;
}

.icon {
  background-color: rgb(74, 86, 226);
  color: white;
  border-radius: 4px;
  box-shadow: 4px 4px 8px 0px rgba(110, 120, 231, 0.2);
  padding: 2px;
  margin-right: 15px;
}
