.paginationBttns {
  width: 80%;
  height: 40px;
  margin-top: 30px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationBttns a {
  display: inline-flex;
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid rgb(110, 120, 232);
  color: rgb(74, 105, 226);
  cursor: pointer;
  transition: background-color 250ms ease-out, color 250ms ease-out;
}

.paginationBttns a:hover {
  color: white;
  background-color: rgb(74, 105, 226);
}

.paginationActive a {
  color: white;
  background-color: rgb(74, 105, 226);
}

.paginationDisabled a {
  background-color: rgb(110, 120, 232);
  border: 1px solid rgb(110, 120, 232);
  color: white;
  cursor: not-allowed;
}

.paginationDisabled a:hover {
  background-color: rgb(110, 120, 232);
  border: 1px solid rgb(110, 120, 232);
  color: white;
}

.paginationContainer {
  display: flex;
  justify-content: center;
}
