@media screen and (min-width: 1280px) {
  .sideBarContainer {
    width: 378px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  .sideBarContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .navBarContainer {
    margin-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .sideBarContainer {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
}
