.tittle {
  font-family: Poppins;
  display: inline-block;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  margin-top: 30px;
}
.diagram {
  width: 100%;
}

.balances {
  padding-right: 20px;
  padding-left: 20px;
}

.balances > li {
  display: flex;
  justify-content: space-between;
  font-family: Circe-bold;
  font-size: 16px;
  line-height: 24px;
}

.balances__spending {
  color: #ff6596;
}

.balances__income {
  color: #24cca7;
}
@media screen and (max-width: 767px) {
  .diagram {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .statisticContainer {
    display: flex;
  }
  .table {
    width: 50%;
  }
  .diagram {
    width: 50%;
  }
  .statistic {
    display: flex;
    flex-direction: column;
  }
}
